<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Marcelo Toyoda" />
	
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<title>Sonda - Toyoda</title>
</head>
<body>
	<div class="container">
		<h1>Sonda WEB</h1>
		<div>
			<a href="#" th:href="@{/search}">Tela de Consulta</a>  			
		</div>
		<div th:if="${hasError}" class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>			
  			<strong>Erro! </strong><span th:text="${message}"></span>
		</div>
		<form id="sondaForm" action="#" th:action="@{/sendIntructions}" method="post" th:object="${sondaAction}">
			<div class="form-group row">
				<fieldset class="form-group">
					<legend>Planalto</legend>
					<div class="col-sm-4">
						<select class="form-control" id="planaltoNome" name="planaltoNome" th:field="*{planaltoNome}">
							<option th:each="planalto: ${planaltos}" th:value="${planalto}" th:text="${planalto}"></option>
						</select>						 
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="number" id="planaltoCoordenadaLimitX" name="planaltoCoordenadaLimitX" th:field="*{planaltoCoordenadaLimitX}"							
							placeholder="Digite Coordenada Limite X do Planalto"
							style="text-transform: uppercase;"
							min="1" max="10" required="true"></input>  
					</div> 
					<div class="col-sm-4">
						<input class="form-control" type="number" id="planaltoCoordenadaLimitY" name="planaltoCoordenadaLimitY" th:field="*{planaltoCoordenadaLimitY}"							
							placeholder="Digite Coordenada Limite Y do Planalto"
							style="text-transform: uppercase;"
							min="1" max="10" required="true"></input>
					</div>					  
				</fieldset>
			</div>
			<div class="form-group row">
				<fieldset class="form-group">
					<legend>Sonda 1</legend>
					<div class="col-sm-2">
						<input class="form-control" type="text"	id="identificacaoSonda1" name="identificacaoSonda1" th:field="*{identificacaoSonda1}"						
							placeholder="Identificação"
							style="text-transform: uppercase;" onkeypress="return validateIdentificacao(event);"
							required="true"></input> 
					</div>
					<div class="col-sm-3">
						<input class="form-control" type="number" id="coordinateXSonda1" name="coordinateXSonda1" th:field="*{coordinateXSonda1}"							
							placeholder="Digite Coordenada X Inicial"
							style="text-transform: uppercase;"
							min="0" max="10" required="true"></input>  
					</div> 
					<div class="col-sm-3">
						<input class="form-control" type="number" id="coordinateYSonda1" name="coordinateYSonda1" th:field="*{coordinateYSonda1}"							
							placeholder="Digite Coordenada Y Inicial"
							style="text-transform: uppercase;"
							min="0" max="10" required="true"></input>
					</div>
					<div class="col-sm-1">
						<select class="form-control" id="directionSonda1" name="directionSonda1" th:field="*{directionSonda1}">
							<option value="NORTH">NORTH</option>
							<option value="SOUTH">SOUTH</option>
							<option value="WEST">WEST</option>
							<option value="EAST">EAST</option>
						</select>
					</div>
					<div class="col-sm-3">
						<input class="form-control instructions" type="text" id="comandSonda1" name="comandSonda1" th:field="*{comandSonda1}"							
							placeholder="Digite Instruções (L,R,M)"
							required="true" style="text-transform: uppercase;" onkeypress="return validateInstructions(event);"></input> 
					</div>  
				</fieldset>
			</div>
			<div class="form-group row">
				<fieldset class="form-group">
					<legend>Sonda 2</legend>
					<div class="col-sm-2">
						<input class="form-control" type="text" id="identificacaoSonda2" name="identificacaoSonda2" th:field="*{identificacaoSonda2}"						
							placeholder="Identificação" style="text-transform: uppercase;" 
							onkeypress="return validateIdentificacao(event);" required="true"></input> 
					</div>
					<div class="col-sm-3">
						<input class="form-control" type="number" id="coordinateXSonda2" name="coordinateXSonda2" th:field="*{coordinateXSonda2}"							
							placeholder="Digite Coordenada X Inicial" style="text-transform: uppercase;"
							min="0" max="10" required="true"></input> 
					</div> 
					<div class="col-sm-3">
						<input class="form-control" type="number" id="coordinateYSonda2" name="coordinateYSonda2" th:field="*{coordinateYSonda2}"							
							placeholder="Digite Coordenada Y Inicial" style="text-transform: uppercase;"
							min="0" max="10" required="true"></input>
					</div>
					<div class="col-sm-1">
						<select class="form-control" id="directionSonda2" name="directionSonda2" th:field="*{directionSonda2}">
							<option value="NORTH">NORTH</option>
							<option value="SOUTH">SOUTH</option>
							<option value="WEST">WEST</option>
							<option value="EAST">EAST</option>
						</select>
					</div>
					<div class="col-sm-3">
						<input class="form-control instructions" type="text" id="comandSonda2" name="comandSonda2"  th:field="*{comandSonda2}"							
							placeholder="Digite Instruções (L,R,M)"
							style="text-transform: uppercase;" onkeypress="return validateInstructions(event);"
							required="true"></input> 
					</div>  
				</fieldset>
			</div>	
			<div>
      			<button id="sendInstruction" type="submit" class="btn btn-primary btn-block">Enviar Instruções</button>
			</div>
		</form>
	</div>	
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/functions.js"></script>
</body>
</html>